body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  font-size: 2rem;
  line-height: 1.1875;
  font-weight: 600;
  text-align: center;
  margin: 20px 0;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.carousel-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 640px;
  margin-bottom: 10px;
}

.carousel-navigation a {
  text-decoration: none;
}

.carousel-slides {
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: center;
  position: relative;
}

.carousel-item {
  flex-shrink: 0; /* Prevent shrinking */
  width: 640px; /* Fixed width for each item */
  padding: 0 20px; /* Padding for spacing */
  display: flex; /* Flexbox for content alignment */
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center align content */
  text-align: center; /* Center text */
  margin: 10px; /* Add some margin for spacing */
}

.left-align {
  text-align: left;
  margin-left: 20px; /* You can adjust the margin as needed */
}

.no-underline {
  text-decoration: none;
}
